body, h1 {
    margin: 0;
}

.bottom {
    margin-top: 150px;
}

.container {width: 70%;
    margin: 0 auto;
            }
.box-1 {  background-color: #555555; 
/*    padding-top: 20px;
    padding-right: 25px;
    padding-bottom: 30px;
    padding-left: 35px;*/
    padding: 20px 30px;
    margin-top: 30px;
    border: 3px solid red;
}


.box-1 h1 {
    text-align: center;
    text-decoration: underline;
    font-family: sans-serif;
    color: white;    
}

.box-1 p {
    color: white;
}
.box-2 {
    margin-top: 30px;
    border: 3px dashed #555;
    padding: 20px;
}
.box-2 h1, .box-2 p {
    color: #555;
}
.button {
    background-color: #222;
    color: #fff;
     font-size: 18px;
    border: 1px solid #222;
    padding: 5px 15px;
    border-radius: 5px;
}
.button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #222;
}
.box-3{
    margin: 30px 0;
    border: 1px solid #555;
    padding: 20px;
}
.box-3 {
    text-align: center;
    color: #222b18;
    font-family: sans-serif;
    
}

.categories {
    padding: 0;
}

.categories li {
    list-style-type: none;
    padding: 5px 0;
    border-bottom: 1px solid #555;
}

.myForm {
    
}

.myForm label {
    display: block;
    font-size: 20px;
    color: #555;
}

.myForm input, .myForm textarea { 
    margin: 8PX 0;
    padding: 5PX;
    width: 100%;
    
}



